
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navwrap{
    display: block;
    
    padding: 0.5rem;
}
.menu{
    display: block;
    padding: 2rem;
    background-color:#164e63;
    text-align: center;
    color:#14213d;
}
.nonBullet{
    list-style-type: none;
    
}
.inline{
    display: inline;
    padding: 2rem;
    font-weight: bolder;
    font-size: x-large;
    
}
.link{
    text-decoration: none;
    color:white;
}

.heading{
    text-align: center;
    padding: 0.5rem;
    color: black;
}
.heading span{
    font-style: italic;
    font-family: cursive;
    font-weight: bolder;
    
}
.blog{
    display: block;
    margin: 2rem 0rem;
    padding: 0.5rem;
}
.container{
    box-sizing: border-box;
    background-color:lightgrey;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: block;
}
.container h2{
    font-weight: bolder;
    font-style: oblique;
    
}

.container small{
    font-size: small;
    font-weight: bold;
    padding: 0.3rem;
}
 .container p{
   text-align: justify;
   font-size: medium;
   font-style: italic;
   font-weight: bold;
 }
 .links{
    color: white;
   
    font-size: x-large;
    text-decoration: none;
    font-weight: bolder;
    font-display:initial;
    cursor:pointer;
 }

.container button{
    background-color: #164e63;
    margin-top: 0.5rem;

    color: silver;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.footer{
    margin-top: 3rem;
    padding-top: 0rem;
    border-top: 3px solid #14213d;
    background-color:#164e63;
 }
 
 .footer div{
    color: #14213d;
    text-align: center;
 }
 
 .footer p{
    font-size: 20px;
    font-weight: 600;
 }
 
 .footer a{
    padding-inline: 2rem;
    font-size: 35px;
    color: white;
    text-decoration: none;
 }
 
 .footer .with-para{
    padding-inline: 0rem;
    font-size: 20px;
    color: white;
    text-decoration: none;
 }