
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
body{
    margin: 0px;

}
.navwrap{
    display: block;
    margin-top: 1px;
    background-color: #164e63;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 00.5rem;
    text-align: center;
}
.menu{
    display: block;
    
    padding: 1px;
    
}
.nonBullet{
    list-style-type: none;
    
}
.inline{
    display: inline;
    padding: 2rem;
    
}
.optlinks:is(:link,:active,:visited){
    color: white;
   
    font-size: x-large;
    text-decoration: none;
    font-weight: bolder;
    font-display:initial;
    cursor:pointer;
}
.optlinks:is(:link,:active,:visited).active{
    color:red;
}

.heading{
    text-align: center;
    padding: 0.5rem;
    color: black;
}
.heading span{
    font-style: italic;
    font-family: cursive;
    font-weight: bolder;
    
}
.blog{
    display: block;
    margin: 2rem 0rem;
    padding: 0.5rem;
}
.container{
    box-sizing: border-box;
    background-color:lightgrey;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    display: block;
}
.container h2{
    font-weight: bolder;
    font-style: oblique;
    
}

.container small{
    font-size: small;
    font-weight: bold;
    padding: 0.3rem;
}
 .container p{
   text-align: justify;
   font-size: medium;
   font-style: italic;
   font-weight: bold;
 }
 .bloglinks{
    color: white;
   
    font-size: x-large;
    text-decoration: none;
    font-weight: bolder;
    font-display:initial;
    cursor:pointer;
 }

.container button{
    background-color: #0f7aa1d2;
    margin-top: 0.5rem;

    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.footer div {
    color: black;
    background-color:#164e63 ;
    padding: 0.7rem;
    text-align: center;
}


.footer p {
    font-size: 25px;
    font-weight: bolder;
    color:#fff;
}
.footer a {
    padding-inline: 1rem;
    font-size: 35px;
    color: silver;
    text-decoration: none;
    
}

.footer .with-para {
    padding-inline: 0rem;
    font-size: 20px;
    color: white;
    text-decoration: dotted;
}