*{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
:root {
    --primary-color: #457b9d;
    --white: white;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --projects: #EDF2F5;
}
body{
    margin: 0px;

}
/** Header**/
.nav-container{
    display: block;
    margin-top: 1px;
    background-color: #164e63;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 00.5rem;
    text-align: center;
}
.menu{
    display: block;
    
    padding: 1px;
    
}
.non-bullet{
    list-style-type: none;
    
}
.inline{
    display: inline;
    padding: 2rem;
    
}
.optlinks{
    color: white;
   
    font-size: x-large;
    text-decoration: none;
    font-weight: bolder;
    font-display:initial;
    cursor:pointer;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.header {
    text-align: center;
    margin-top: 3rem;
}

.header-img {
    width: 90%;
    max-width: 320px;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
}

.highlight {
    font-weight: bolder;
    color: var(--primary-color);
}

.header-heading {
    color: var(--dark-gray);
}

.header p {
    font-size: 20px;
    font-weight: 400;
}
.section {
    margin: 2rem 0rem;
    padding: 2rem 0rem;
}

.section h1 {
    text-align: center;
    padding-bottom: 0.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
}

 article{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    padding-inline: 0.5rem;;
    
}

.sections {
    text-align: justify;
}

.lightgrey {
    background-color: var(--off-white);
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    color:#457b9d;

}
span{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color:#164e63;
    font-size: x-large;
    font-weight: lighter;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;


}
img{
    width:350px;
    height: 350px;
}
.footer div {
    color: black;
    background-color:#164e63 ;
    padding: 1rem;
    text-align: center;
}


.footer p {
    font-size: 25px;
    font-weight: bolder;
    color:#fff;
}
.footer a {
    padding-inline: 1rem;
    font-size: 35px;
    color: silver;
    text-decoration: none;
    
}

.footer .with-para {
    padding-inline: 0rem;
    font-size: 20px;
    color: black;
    text-decoration: none;
}